.simple-slider > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.simple-slider > img.current {
  opacity: 1;
  transition: opacity .7s ease;
}

.simple-slider > .nav {
  position: absolute;
  left: 50%;
  bottom: 50px;
  transform: translateX(-50%);
  width: 80px;
}

.simple-slider > .nav > .previous,
.simple-slider > .nav > .next {
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  outline: none;
}

.simple-slider > .nav > .previous {
  background: url('../img/prev.svg');
}

.simple-slider > .nav > .next {
  background: url('../img/next.svg');
}
